.wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  display: inline-block;
  /* width: fit-content; */
  line-height: 2rem;
  text-align: center;
  border: solid 3px lightcyan;
  border-radius: 4px;
  background-color: rgb(27, 27, 59);
  color: rgb(245, 235, 235);
  padding: 10px;
}
